.stripes{
  background: repeating-linear-gradient(
  22deg,
  #F7F8FC,
  #F7F8FC 0%,
  #C7C8CC 0%,
  #C7C8CC 100%
);
}

.react-slidedown {
    transition-duration: .5s;
    transition-timing-function: ease-in-out;
    /* transition-duration: 1.2s;
    transition-timing-function: cubic-bezier(0.1, 0.7, 1.0, 0.1); */
}
