
/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  background-color: #d3d3d3;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: black;
  /* height: 100%; */
  /* background-size: auto 100%; */

}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
.Name {
  color: white;
  font-size: 40px;
  margin-left: 15%;
  margin-top:5%;
}

.Major {
  color: #dddddd;
  font-size: 20px;
  margin-left: 15%;
  margin-top:1%;
}

.GPA {
  color: #dddddd;
  font-size: 20px;
  margin-left: 15%;
  margin-top:1%;
}

.LinkedIn {
  /* color: #dddddd; */
  background-color: #d473d4;
  font-size: 20px;
  margin-left: 15%;
  margin-top:1%;
  padding:1%;
  float: left;
  border-radius: 15%;
}

.custom_header{
  background-color: red;
}

.img-responsive {
      display: block;
      max-width: 100%;
      height: auto;
   }

.bg-img {
    background-image: url(Images/background.jpg);
     background-position: center center;
     background-repeat:  no-repeat;
     background-attachment: fixed;
     background-size:  cover;
     background-color: #999;
     min-height: 100vh;
     color:white;
     max-width: 100%;
}

.pinNavbar{
  margin-bottom: 5%;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  border-bottom: 5%;
}
